.page .section  h1:before,
.page .section  h2:before,
.page .section  h3:before,
.page .section  h4:before,
.page .section  h5:before,
.page .section  h6:before {
  display: inline-block;
  margin-right: .8rem;
}

body {
  counter-reset: chapter h1 h2 h3 h4 h5 h6;
}

.page .section  h1 {
  counter-increment: h1;
  counter-reset: h2 h3 h4 h5 h6;
}

.page .section  h1:before {
  content: counter(h1);
}

.page .section  h2 {
  counter-increment: h2;
  counter-reset: h3 h4 h5 h6;
}

.page .section  h2:before {
  content: counter(h1) "." counter(h2);
}

.page .section  h3 {
  counter-increment: h3;
  counter-reset: h4 h5 h6;
}

.page .section  h3:before {
  content: counter(h1) "." counter(h2) "." counter(h3);
}

.page .section > h2:nth-child(2):before {
  counter-increment: unset!important;
}
